@{
    ViewData["Title"] = "Show Page";
}

<div class="text-center">
    <h1 class="display-4">Zaman: @ViewBag.zaman</h1>
    <h1 class="display-4">Callback: @ViewBag.callback</h1>

    <h1 class="display-4">Product Id: @ViewBag.product.Id</h1>
    <h1 class="display-4">Product Name: @ViewBag.product.Name</h1>
    <h1 class="display-4">Product Price: @ViewBag.product.Price</h1>

</div>
<div>
    <a href="/product/index">Index</a>
</div>